
week 3 - exploring spatial data/data/dems/af_dem_30s.tif.vat.dbf.CFS-6300-5020RH.31484.34080.sr.lock
week 3 - exploring spatial data/data/dems/af_dem_slope.tfw
week 3 - exploring spatial data/data/dems/af_dem_slope.tif
week 3 - exploring spatial data/data/dems/af_dem_slope.tif.aux.xml
week 3 - exploring spatial data/data/dems/af_dem_slope.tif.xml
week 7 - creating geoprocessing tools/slides/Python_GP_Tools (1).ppt
week 7 - creating geoprocessing tools/pycharm/.idea/pycharm.iml
week 7 - creating geoprocessing tools/pycharm/.idea/workspace.xml
week 7 - creating geoprocessing tools/pycharm/.idea/modules.xml
week 7 - creating geoprocessing tools/pycharm/.idea/misc.xml
