
week 3 - exploring spatial data/data/dems/af_dem_30s.tif.vat.dbf.CFS-6300-5020RH.31484.34080.sr.lock
week 3 - exploring spatial data/data/dems/af_dem_slope.tfw
week 3 - exploring spatial data/data/dems/af_dem_slope.tif
week 3 - exploring spatial data/data/dems/af_dem_slope.tif.aux.xml
week 3 - exploring spatial data/data/dems/af_dem_slope.tif.xml
week 7 - creating geoprocessing tools/slides/Python_GP_Tools (1).ppt
week 7 - creating geoprocessing tools/pycharm/.idea/pycharm.iml
week 7 - creating geoprocessing tools/pycharm/.idea/workspace.xml
week 7 - creating geoprocessing tools/pycharm/.idea/modules.xml
week 7 - creating geoprocessing tools/pycharm/.idea/misc.xml
.ipynb_checkpoints/Fundamentals Continued-checkpoint.ipynb
week 1 - introduction/.ipynb_checkpoints/Python Fundamentals-checkpoint.ipynb
week 1 - introduction/.ipynb_checkpoints/Lecture 1 - Demo-checkpoint.ipynb
week 1 - introduction/.ipynb_checkpoints/Lecture 1 - Arcpy-checkpoint.ipynb
week 1 - introduction/.ipynb_checkpoints/Fundamentals Continued-checkpoint.ipynb
.ipynb_checkpoints/Python Fundamentals-checkpoint.ipynb
.ipynb_checkpoints/Lecture 1 - Demo-checkpoint.ipynb
.ipynb_checkpoints/Lecture 1 - Arcpy-checkpoint.ipynb
.ipynb_checkpoints/Fundamentals Continued-checkpoint.ipynb
.ipynb_checkpoints/Python Fundamentals-checkpoint.ipynb
week 8 - creating custom functions/data/Crime.gdb/_gdb.DESKTOP-ORAIMEH.9652.14632.sr.lock
week 8 - creating custom functions/data/Crime.gdb/January2018_Table.DESKTOP-ORAIMEH.9652.14632.sr.lock
